<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>User-Dashboard</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Welcome , you are normal user,</h1>-->
<!--    <h1>This is your private dashboard</h1>-->
<!--    <h1>User Name<span th:text="${user.name}"></span></h1>-->
<!--    <h1>User Email<span th:text="${user.email}"></span></h1>-->
<!--    <h1><a href="" th:href="@{/logout}">Logout</a></h1>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is about page</title>
</head>
<body>
<section>
   <div class="container">
       <div class="card">
           <div class="card-body my-5">
               <div class="container text-center">

                   <img  style="height: 200px; width: 200px;" class="my_profile_picture" th:src="@{'/img/contact-logo.png'}" alt="profile photo" />

               </div>

               <h1 class="text-center mt-3 text-secondary font-weight-light">
                   Start Adding your contact on cloud..
               </h1>
               <a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase mt-3">Add New Contact</a>
           </div>

       </div>

   </div>
    <script>
        $(document).ready(() =>{
            $(".item").removeClass("active");
            $("#home-link").addClass("active");
        });
    </script>
</section>
</body>
</html>